*.csv
*.log
*.pyc
*jsonl
data/*.pkl  # Only ignores .pkl in /data/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore IDE/editor-specific files
.virtual_documents/
# Ignore macOS .DS_Store files
.DS_Store
notebooks/.DS_Store