streamlit
joblib
numpy
pandas
scikit-learn
matplotlib
seaborn
spacy==3.8.2
#thinc==8.3.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl